<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpriteAtlasTexture-loading (Group 1)-256x256-fmt4-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,93}</string>
                <key>spriteSourceSize</key>
                <string>{256,93}</string>
                <key>textureRect</key>
                <string>{{215,12},{256,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpriteAtlasTexture-loading (Group 1)-256x256-fmt4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,12}</string>
                <key>spriteSourceSize</key>
                <string>{252,12}</string>
                <key>textureRect</key>
                <string>{{0,0},{252,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpriteAtlasTexture-loading (Group 1)-256x256-fmt4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,12}</string>
                <key>spriteSourceSize</key>
                <string>{252,12}</string>
                <key>textureRect</key>
                <string>{{252,0},{252,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpriteAtlasTexture-loading (Group 1)-256x256-fmt4-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,12}</string>
                <key>spriteSourceSize</key>
                <string>{252,12}</string>
                <key>textureRect</key>
                <string>{{252,0},{252,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpriteAtlasTexture-loading (Group 1)-256x256-fmt4-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,12}</string>
                <key>spriteSourceSize</key>
                <string>{252,12}</string>
                <key>textureRect</key>
                <string>{{0,0},{252,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpriteAtlasTexture-loading (Group 1)-256x256-fmt4-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,91}</string>
                <key>spriteSourceSize</key>
                <string>{215,91}</string>
                <key>textureRect</key>
                <string>{{0,12},{215,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{504,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03cee334a5c309820fa95026a8cef42:e66dd84a00c946ec86c7ca1ca95ee244:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
